name: Chromatic

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'packages/ui/**'
  pull_request:
    paths:
      - 'packages/ui/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  chromatic:
    if: github.actor != 'renovate[bot]' && github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build Storybook
        run: pnpm build-storybook

      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: packages/ui
          storybookBuildDir: storybook-static
          exitZeroOnChanges: true
          onlyChanged: true
          autoAcceptChanges: main
          skip: '@(chore/deps-**|dependabot/**)'
        env:
          CHROMATIC_BRANCH: ${{ github.head_ref || github.ref_name }}
          CHROMATIC_SHA: ${{ github.event.pull_request.head.sha || github.sha }}
          CHROMATIC_SLUG: ${{ github.repository }}
